.sit-down-items-container,
.drink-items-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sit-down-items-container {
  margin-bottom: 2rem;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 2rem;
  background-color: hsl(223, 51%, 89%);
}

.item-text {
  flex: 0 1 15rem;
}
