@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

:root {
  --max-container-width: 60rem;
  --box-shadow: 3px 0px 29px 0px rgba(0, 0, 0, 0.75);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: var(--max-container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

header {
  width: 100%;
  background-color: hsl(240, 1%, 15%);
  padding: 1rem 5%;
  box-shadow: var(--box-shadow);
}

.logo {
  width: 12rem;
  height: 2rem;
  background-image: url(./assets/falcom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-btn {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  border: transparent;
  background-color: transparent;
  color: white;
  transition: transform 0.2s ease-in-out;
}
.nav-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#content {
  max-width: var(--max-content-width);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;
  background-color: hsl(60, 2%, 51%);
  padding: 2rem 3rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.subheading {
  font-size: 1.5rem;
}
